:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
    --background-color: #181818;
    --primary-color: #FFDD00;
    --footer-color: #252525;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    max-width: calc(100% - 60px);
    margin: 0 auto;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-left: - 20px;
    margin-right: - 20px;
}

.test {
    flex-direction: row;
}

.grid__column-12 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.grid__column-3 {
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}

.grid__column-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 33.3333%;
}

.grid__column-8 {
    padding-left: 20px;
    padding-right: 20px;
    width: 66.6667%;
}

.grid__column-2-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
}

.grid__column-9-6 {
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
}

.grid__column-6 {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}

/* --------------------Button */
.btn {
    color: var(--black-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 10px 32px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    animation: changeColor ease-in-out 0.3s;
}

@keyframes changeColor {
    from {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    }
    to {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    }
}

/* --------------------Header */
.header {
    display: flex;
    height: 80px;
    background-color: var(--background-color);
    align-items: center;
}

.hd-menu {
    width: 70px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.hd-menu__icon {
    color: var(--white-color);
    font-size: 2.6rem;
    padding: 20px;
    cursor: pointer;
}

.hd-brand {
    height: 80px;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    margin: 0 20px;
}

.hd-brand__link {
    height: 60px;
}

.hd-brand__logo {
    height: 60px;
}

.hd-navigation {
    flex: 1;
}

.hd-navigation__list {
    list-style: none;
    display: flex;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hd-navigation__item {
    font-size: 1.8rem;
    padding: 0 30px;
    font-weight: 700;
}

.hd-navigation__item-link {
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.3s ease-in-out;
}

.hd-navigation__item:hover .hd-navigation__item-link {
    color: var(--primary-color);
}

.hd-navigation__item-decor {
    position: relative;
    left: 0;
    right: 0;
    bottom: -4px;
    border: 1px solid var(--white-color);
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.hd-navigation__item:hover .hd-navigation__item-decor {
    border: 1px solid var(--primary-color);
    transform: scaleX(1);
}

.hd-search {
    height: 80px;
    display: flex;
    align-items: center;
}

.hd-search__wrap {
    border: 1px solid #464646;
    height: 46px;
    /* width: 350px; */
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.hd-search__icon {
    color: var(--white-color);
    font-size: 2rem;
    padding: 0 4px;
    margin-left: 8px;
}

.hd-search__text {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    height: 46px;
    width: 100%;
    padding: 0 8px;
}

.hd-icon {
    width: 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hd-icon__item {
    color: var(--white-color);
    font-size: 2.6rem;
    padding: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.hd-icon__item:hover {
    color: var(--primary-color);
}

.hd-icon__item-notification {
    position: absolute;
    background-color: var(--white-color);
    color: var(--background-color);
    padding: 0px 6px;
    border-radius: 10px;
    top: 9px;
    right: 4px;
    font-size: 1.4rem;
    border: 3px solid black;
    z-index: 1;
}
/* --------------------Footer */


.footer {
    background-color: var(--footer-color);
    color: var(--white-color);
}

.ft-list {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0px;
    margin: 0 140px;
}

.ft-item {
    position: relative;
}

.ft-information {
    width: 400px;
}

.ft-information__title {
    position: relative;
}

.ft-information__brand {
    background: url(../img/tuishop_logo_full.png) left center / contain no-repeat;
    display: inline-block;
    position: absolute;
    width: 250px;
    padding-top: 18%;
    top: 0;
    left: 0;
}

.ft-information__content {
    margin-top: 65px;
}

.ft-about {
    width: 200px;
}


.ft-help {
    width: 180px;
    
}

.ft-policy {
    width: 150px;
    
}

.ft-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.ft-title::after {
    content: "";
    display: block;
    border-top: 1px solid var(--white-color);
    position: absolute;
    width: 30px;
    top: 45px;
}

.ft-information__title::after {
    visibility: hidden;
}

.ft-content {
    font-size: 1.4rem;

}

.ft-content__list {
    list-style: none;
    padding: 0;
}

.ft-content__item {
    line-height: 36px;
    color: #bebebe;
    font-weight: 500;
}

.ft-content__icon {
    color: var(--white-color);
    padding-right: 12px;
    font-size: 1.8rem;
}

.ft-content__social {
    display: inline-block;
    width: 58px;
    height: 58px;
    padding: 8px;
    border: 1px solid #bebebe;
    color: #bebebe;
    text-decoration: none;
    text-align: center;
    line-height: 47px;
    border-radius: 50%;
    margin: 20px 4px;
    transition: transform 0.8s ease, color 0.2s ease, border 0.2s ease;
    transform: rotate(0deg) scale(1);
}

.ft-content__social-icon {
    font-size: 2.4rem;
    transition: color 0.2s ease-in-out;
}

.ft-content__social:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transform: rotate(360deg) scale(1.2);

}

.ft-bottomfooter {
    padding: 40px 0;
    border-top: 1px solid #bebebe;
    margin: 0 260px;
    color: #bebebe;
}

.ft-vtft__copyright {
    padding: 8px 0;
    font-size: 1.4rem;
    text-align: center;
}

.ft-vtft__content {
    padding: 6px 0;
    text-align: center;
}

.ft-vtft__item {
    margin: 0 4px; 
    border-radius: 4px;
    cursor: pointer;
}

/* --------------------Breadcrumbs */
.grid__row-breadcrumbs {
    margin: 20px;
}
.breadcrumbs {
    font-size: 1.6rem;
}

.bc-item {
    text-decoration: none;
    color: var(--block-color);
    transition: all 0.3s ease-in-out;
}

.bc-item:hover {
    color: var(--primary-color);
}

.bc-brand {

}

.bc-slash {
    padding: 0 4px;
}

.bc-category {
    
}

/* --------------------Category */
.category {
    border: 3px solid #f1f1f1;
}

.category-heading {
    background-color: #f1f1f1;
    font-size: 1.8rem;
    padding: 10px 16px;
    font-weight: 500;
}

.category-list {
    padding: 15px;
    margin-bottom: 10px;
    list-style: none;
}

.category-item {
    
}

.category-item:hover .category-item__link{
    color: var(--primary-color);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    padding-left: 8px;
}

.category-item__link {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.0);
    transition: all 0.3s ease-in-out;
}

/* --------------------Pagination */
.home-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pag-item {
    margin: 0 16px;
    border-radius: 2px;
}

.pag-item--active {
    background-color: var(--primary-color);
    color: var(--black-color);
}

.pag-item--active .pag-item__link {
    color: var(--black-color);
}

.pag-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}

.pag-item__icon {

}