:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
    --background-color: #181818;
    --primary-color: #FFDD00;
    --footer-color: #252525;
}

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
    /* src: url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap'); */
    /* src: url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap'); */
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
    /* margin-left: 30px;
    margin-right: 30px; */
}

.grid__column-12 {
    padding-left:30px;
    padding-right:30px;
    width: 100%;
}

.grid__column-3 {
    padding-left:30px;
    padding-right:30px;
    width: 25%;
}