/* General */
.title {
    font-size: 6rem;
    text-align: center;
    line-height: 80px;
    margin-bottom: 50px;
    font-weight: 700;
}

/* Main */
.app {

}

/* Header */

.slider {
    overflow: hidden;
    position: relative;
}

.sd-content {
    display: flex;
    position: relative;
    transition: changeSlider 1.2s ease-in-out;
}

.sd-content:hover {
    
}

@keyframes changeSlider {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

.sd-item {
    padding-top: 40%;
    flex: 1 0 100%;
}   

.sd-title {
    position: absolute;
    font-size: 8rem;
    font-weight: 700;
    top: 50%;
    transform: translateX(-50%);
    left: 30%;
    color: var(--background-color);
    opacity: 0;
}

@keyframes changeSliderTitle {
    from {
        top: 40%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.product {
    padding: 50px 0px;
}

.pd-title {

}

.pd-container {
    
}

.pd-item {
    position: relative;
    box-shadow: 0px 12px 24px rgba(149, 157, 165, 60%);
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}
.pd-item:hover {
    height: calc(100% + 60px);
    transform: translateY(-20px) scale(1.05, 1.05);

}
.pd-item__img {
    border-radius: 4px;
    padding-top: 160%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pd-item__name {
    text-align: center;
    font-size: 2.2rem;
    padding: 16px 0;
    font-weight: 500;
}

.pd-item__price {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 400;
    padding: 16px 0;
}

.pd-item__price-old {
    text-decoration: line-through;
    font-size: 1.6rem;
}

.pd-item__price-current {
    
}

.pd-item__icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 100%;
    visibility: visible;
    transform: scale(0, 0);
    opacity: 0;
    transition: all 0.3s ease;
}

.pd-item:hover .pd-item__icon {
    transform: scale(1, 1);
    visibility: visible;
    top: calc(100% - 60px);
    opacity: 1;
}

.pd-item__icon-wrap {
    font-size: 2rem;
    padding: 12px;
    margin: 0 12px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--black-color);
    transform: rotate(0deg) scale(1);
    transition: transform 0.8s, color 0.2s ease, border 0.2s ease;
    cursor: pointer;
}

.pd-item__icon-wrap:hover {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    transform: rotate(360deg) scale(1.2);
}

.parallax-banner {
    height: 388px;
    padding: 100px 0;
    background-image: url(../img/parallex_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.prlbn-wrap {
    margin-left: 50%;
    margin-right: 10%;
}

.prlbn-maxim {
    display: inline-block;
    font-size: 1.9rem;
    padding: 16px 0;
    border: 1px solid var(--primary-color);
    width: 350px;
    color: var(--white-color);
    font-weight: 500;
}

.prlbn-title {
    font-size: 7.8rem;
    line-height: 80px;
    margin: 20px 0;
    font-weight: 600;
    color: var(--white-color);
}

.prlbn-title--small {
    font-weight: 400;
}

.brlbn-subtitle {
    font-size: 1.9rem;
    font-weight: 400;
    color: #888888;
    margin-bottom: 40px;
}

.brlbn-btn {
}

.brlbn-link {
    color: var(--black-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 10px 32px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;

}

.brlbn-link:hover {
    color: var(--white-color);
    background-color: #242424;
    border: 1px solid var(--white-color);
}

.blog {
    padding: 50px 0;
}

.bl-title {
}

.bl-container {

}

.bl-item {
    
}

.bl-item__img {
    padding-top: 100%;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.bl-item__date-comment {
    font-size: 1.6rem;
    margin: 16px 0;
}
.bl-item__date {

}

.bl-item__comment {

}

.bl-item__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 24px;
    color: #222222;
    margin: 18px 0;

}

.bl-item__content {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    color: #777777;
    min-height: 150px;

}

.bl-item__btn {
    margin-top: 8px;
}
.bl-item__link {
    color: var(--black-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 10px 32px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
    line-height: 40px;
}

.bl-item__link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    animation: changeColor ease-in-out 0.3s;
}


.promotion {

}

.pmt-img {
    padding-top: 21.6%;
    background: url(../img/promotion.jpg) right bottom / cover no-repeat;
    position: relative;
}

.pmt-title {
    position: absolute;
    width: 100%;
    top: 38%;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;

}

.pmt-content {
    position: absolute;
    width: 100%;
    top: 60%;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;

}

.pmt-btn {
    position: absolute;
    width: 100%;
    top: 80%;
    text-align: center;
}

.pmt-link {
    color: var(--black-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 10px 32px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
}

.pmt-link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    animation: changeColor ease-in-out 0.3s;
}

@keyframes changeColor {
    from {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    }
    to {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    }
}

.brand {
    display: flex;
    padding: 16px 200px;
    justify-content: space-around;
}

.b-img {
    width: 8%;
}