.app {

}

/* Header */
.header {
    display: flex;
    height: 80px;
    background-color: var(--background-color);
    align-items: center;
}

.hd-brand {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.hd-brand__logo {
    height: 60px;
}

.hd-navigation {
    flex: 1;
}

.hd-navigation__list {
    list-style: none;
    display: flex;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hd-navigation__item {
    font-size: 1.8rem;
    padding: 0 30px;
    font-weight: 700;
}

.hd-navigation__item-link {
    text-decoration: none;
    color: var(--white-color);
}

.hd-search {
    height: 80px;
    display: flex;
    align-items: center;
}

.hd-search__wrap {
    border: 1px solid #464646;
    height: 46px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.hd-search__icon {
    color: var(--white-color);
    font-size: 2rem;
    padding: 0 4px;
    margin-left: 8px;
}

.hd-search__text {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    height: 46px;
    width: 100%;
    padding: 0 8px;
}

.hd-icon {
    width: 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hd-icon__item {
    color: var(--white-color);
    font-size: 2.6rem;
    padding: 20px;
    cursor: pointer;
}

.hd-icon__item-notification {
    position: absolute;
    background-color: var(--white-color);
    color: var(--background-color);
    padding: 0px 6px;
    border-radius: 10px;
    top: 9px;
    right: 4px;
    font-size: 1.4rem;
    border: 3px solid black;
    z-index: 1;
}

.slider {
    overflow: hidden;
    position: relative;
}

.sd-content {
    display: flex;
    position: relative;
    transition: changeSlider 1.2s ease-in-out;
}

.sd-content:hover {
    
}

@keyframes changeSlider {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

.sd-item {
    padding-top: 40%;
    flex: 1 0 100%;
}   

.sd-title {
    position: absolute;
    font-size: 8rem;
    font-weight: 700;
    top: 50%;
    transform: translateX(-50%);
    left: 30%;
    color: var(--background-color);
    opacity: 0;
}

@keyframes changeSliderTitle {
    from {
        top: 40%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.product {
    padding: 110px 0px;
}

.pd-title {
    font-size: 10rem;
    text-align: center;
    line-height: 80px;
    margin-bottom: 50px;
    font-weight: 700;
}

.pd-container {
    
}

.pd-item {
    position: relative;
    box-shadow: 0px 12px 24px rgba(149, 157, 165, 60%);
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}
.pd-item:hover {
    height: calc(100% + 60px);
    transform: translateY(-20px);

}
.pd-item__img {
    border-radius: 4px;
    padding-top: 160%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pd-item__name {
    text-align: center;
    font-size: 2.2rem;
    padding: 16px 0;
    font-weight: 500;
}

.pd-item__price {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 400;
    padding: 16px 0;
}

.pd-item__price-old {
    text-decoration: line-through;
    font-size: 1.6rem;
}

.pd-item__price-current {
    
}

.pd-item__icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 100%;
    /* bottom: 100px; */
    visibility: hidden;
    transform: scale(0, 0);
    opacity: 0;
    transition: all 0.3s ease;
}

.pd-item:hover .pd-item__icon {
    transform: scale(1, 1);
    visibility: visible;
    top: calc(100% - 60px);
    opacity: 1;
}

.pd-item__icon-wrap {
    font-size: 2rem;
    padding: 12px;
    margin: 0 12px;
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    border-radius: 50%;
    color: var(--white-color);
    /* margin: 0 16px; */
}

.pd-item__icon-eye {

}

.pd-item__icon-cart {

}



.promotion {

}

.pmt-img {
    padding-top: 21.6%;
    background: url(../img/promotion.jpg) right bottom / cover no-repeat;
    position: relative;
}

.pmt-title {
    position: absolute;
    width: 100%;
    top: 38%;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;

}

.pmt-content {
    position: absolute;
    width: 100%;
    top: 60%;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;

}

.pmt-btn {
    position: absolute;
    width: 100%;
    top: 80%;
    text-align: center;
}

.pmt-link {
    color: var(--black-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 16px 32px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
}

.pmt-link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    animation: changeColor ease-in-out 0.3s;
}

@keyframes changeColor {
    from {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    }
    to {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    }
}

.brand {
    display: flex;
    padding: 16px 200px;
    justify-content: space-around;
}

.b-img {
    width: 8%;
}

.footer {

}
