.app {

}

/* Header */
.header {
    display: flex;
    height: 80px;
    background-color: var(--background-color);
    align-items: center;
}

.hd-brand {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.hd-brand__logo {
    height: 60px;
}

.hd-navigation {
    flex: 1;
}

.hd-navigation__list {
    list-style: none;
    display: flex;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hd-navigation__item {
    font-size: 1.8rem;
    padding: 0 30px;
    font-weight: 700;
}

.hd-navigation__item-link {
    text-decoration: none;
    color: var(--white-color);
}

.hd-search {
    height: 80px;
    display: flex;
    align-items: center;
}

.hd-search__wrap {
    border: 1px solid #464646;
    height: 46px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.hd-search__icon {
    color: var(--white-color);
    font-size: 2rem;
    padding: 0 4px;
    margin-left: 8px;
}

.hd-search__text {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    height: 46px;
    width: 100%;
    padding: 0 8px;
}

.hd-icon {
    width: 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hd-icon__item {
    color: var(--white-color);
    font-size: 2.6rem;
    padding: 20px;
    cursor: pointer;
}

.hd-icon__item-notification {
    position: absolute;
    background-color: var(--white-color);
    color: var(--background-color);
    padding: 0px 6px;
    border-radius: 10px;
    top: 9px;
    right: 4px;
    font-size: 1.4rem;
    border: 3px solid black;
    z-index: 1;
}
.container {

}

.footer {

}
